.addressdiv{
  background-color:#e7e5e5 ;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  
}
.addresstext{
  font-weight: 600;
  font-size: 18px;
}
.savebtn{
  background-color: rgb(115, 150, 221);
  padding:6px 14px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px 0;
  color: aliceblue;
 text-align: center;
  font-weight: 400;
}


/* .address-container {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: rgb(115, 150, 221);
    padding:6px 12px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 400;
    
  cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
   */