.card1{
    border: none;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cardimg{
    padding: 12px;
    height: 200px;
}



.btnshop{
    background-color: rgb(115, 150, 221);
    padding:8px 16px;
    border: none;
    border-radius: 10px;
    margin: 0 20px 10px 20px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    
}
.btnshop:hover{
    background-color: rgb(128, 152, 199);
    
}

.quantity-counter {
    display: flex;
    align-items: center;
  }
  
  .counter-btn {
    background-color: rgb(115, 150, 221);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .counter-value {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .totalprice{
    
  padding: 2px 0;
  
    font-size: 20px;
    color: rgb(179, 90, 148);
    font-weight: 500;
  }
.bestpricetext{
 
  padding: 2px 0;
  font-size: 20px;
  color: rgb(65, 150, 57);
  font-weight: 600;
 
  
}
.discounttext{
   
  padding: 2px 0;
    font-size: 16px;
    color: rgb(211, 1, 1);
    font-weight: 400;
   
  }
  .mrptext{
   
  padding: 10px 0 0 0;
    font-size: 16px;
    color: rgb(107, 107, 107);
    font-weight: 400;
    text-decoration: line-through;
  }