.mainsec{
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 40px 100px ;
    
    
}
.maintext{
    padding: 0 0 10px 0 ;
}
.maindiv{
    text-align: left;
    background-color: #fff;
    min-height: 60vh;
    padding: 20px;
 
    
}

.field{
    padding: 4px 0;
}

.resetbutton{
    background-color: #4d62ca;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 10px;
}