.sctn_main {
  min-height: 80vh;
  background-color: #ffffff;
  display: flex;
  text-align: left;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.checkoutdivmain{
  display: flex;
}

.lefttpanel{
  width: 75%;
  
}

.righttpanel{
  width: 25%;
}