.sctn_main {
  min-height: 80vh;
  background-color: #ffffff;
  display: flex;
  text-align: left;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.ordertxt{
  padding: 20px 30px 0 30px;
  font-size: 24px;
  font-weight: 600;
}
.checkoutdivmain{
  display: flex;
}

.lefttpanel{
  width: 75%;
  
}

.righttpanel{
  width: 25%;
}