.footermainn {
  background-color: #dfecf9;
  min-height: 20vh;
  color: white;
 
}

.mainrow{
  padding: 30px 0;
}

.rowwitem{
  padding: 4px 0;
  font-size: 14px;
 
}


.rowwitemhead{
  padding: 4px 0;
  font-size: 16px;
  font-weight: 600;
 
}

.playstoreimg{
  height: 60px;
  width: 50%;
}