

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../banner3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}
.searchbarcon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px ;
  background-color: #ffffff;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  width: 70%;

}
input {
  
  border: none;
  outline: none;
}

.pinsearch{
  border: none;
  
  width: 20%;
}
.pinsearch1{
  border: none;
  
  outline: none;
}

.search{
  border: none;
  
  width: 60%;
  text-decoration: none;
}



.searchbtn {
  padding: 6px 20px;
  border-radius: 5px;
  background-color: #dfecf9;
  border: none;
  border-radius: 6px;
  color: #11365b;
  font-size: 16px;
  font-weight: 500;
}

.searchbtn:hover {
  background-color: #c0cfdf;
}
